h1 {
  color: #98BC40;
  font-size: 42px;
}

header {
  background-color: #202020;
  column-count: 1;
}

footer {
  background-color: #202020;
}

.grid {
  display: grid;
}

.multicol2 {
  column-count: 2;
}

.container {
  display: block;
  column-count: 1;
}